body {
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  background-image: url("../img/background.jpg");
  background-attachment: fixed;
  background-color: black;
}

main { /*Wrapper for the entire site*/
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: white;
  max-width: 950px;
  background-color: white;
}

hr {
  max-width: 80%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0,0,25);
}

#post-container {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.card { /*Material style cards*/
  color: black;
  background-color: white;
  max-width: 25%;
  padding: 5px;
  display: inline-block;
  margin: 10px;
  transition: 0.3s;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  overflow: inherit;
  vertical-align: top;
}

.card:hover {
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

.card img {
  width: 100%;
  height: 10%;
}

.callout {
  height: auto;
  color: black;
  margin: auto auto;
  max-width: 80%;
  overflow: auto;
}

#icon_section { /*To prevent the icon div creating scrollbars to fit content*/
  height: auto;
}

.icon { /*Essentially feature lists*/
  /*background-color: #f2f2f2;*/
  color: black;
  display: inline-block;
  max-width: 30%;
  height: 100%;
  padding: 5px;
  /*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);*/
  transition: 0.5s;
  vertical-align: top;
}

.icon:hover {
  background-color: #f2f2f2;
}

.icon p {
  color: #737373;
}

header {
  position: relative;
  z-index: 100;
  overflow: auto;
  background-image: url("../img/placeholder-ship.jpg");
  background-size: 100% 100%;
  height: 400px;
}

header h1 {
  color: white;
  float: left;
  margin: 5px;
}

header p {
  float: left;
}

header ul {
  float: right;
}

img#splash{
  width: 100%;
}

#testimonials {
  position: relative;
  height: 78px;
  overflow: auto;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.testimonial {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  opacity: 0;
  z-index: 1;
  transition: 1s;
  font-size: 24px;
  vertical-align: center;
}

.showing {
  opacity: 1;
  z-index: 2;
}

article.fullwidth { /*Represents a section that covers the entire width of the page, splash screen style.*/
  min-height: 300px;
  background-color: black;
  overflow: auto;
  align-items: center;
  border-style: solid;
}

article.fullwidth h2 {
  margin-right: 10%;
}

article.fullwidth p {
  width: 30%;
  text-align: center;
  margin-left: 15%;
}

article.fullwidth i {
  font-size: 100px;
  max-height: 50%;
  max-width: 40%;
  float: right;
  margin-top: 50px;
  margin-right: 20%;
}

article.fullwidth#company {
  background-color: rgb(25,25,25);
  color: rgb(200,200,200);
}

article.fullwidth#aura {
  background-color: rgb(0,0,25);
  color: rgb(100,100,200)
}

article.fullwidth#delivery {
  background-color: rgb(0,25,0);
  color: rgb(100,200,100);
}

#blog {
  color: black;
}

#blog img {
  width: 100%;
}

#blog p {
  padding: 40px;
}

footer {
  background-color: rgb(20,20,20);
  color: rgb(100,100,100);
  height: 100%;
  align: left;
}

footer ul {
  padding: 0px;
}

footer li {
  list-style-type: none;
}

footer section {
  display: inline-block;
  overflow: auto;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
}

footer a {
  color: rgb(130,130,130);
  text-decoration: none;
  transition: 0.2s;
}

footer a:hover {
  color: rgb(200,200,200);
}

footer p#copyright {
  font-size: 12px;
}

footer ul#sitemap li {
  display: inline;
}

@media screen and (min-width: 600px) { /*Elements to be completely redesigned in responsive mode*/
  header li {
    display: inline;
    /*float: right;*/

    padding: 10px;
  }

  header li a {
    color: white;
    text-decoration: none;
      border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: 0.5s;
    padding: 10px;
  }

  header li a#current { /*Indicates what the current page is*/
    border-bottom-color: white;
  }

  header li a:hover {
    border-bottom-color: white;
    /*font-size: 110%;*/
  }

  header li a#order {
    background-color: #009933;
    border-radius: 4px;
  }

  header li a:hover#order {
    border-bottom-color: transparent;
    background-color: #006622;
  }
}

@media screen and (max-width: 600px) { /*Make things responsive*/
  header {
    height: auto;
    background-attachment: fixed;
    background-size: auto;
    color: white;
  }

  header p {
    float: none;
  }

  header h1 {
    float: none;
  }

  .card {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .icon {
    display: block;
    max-width: 100%;
  }

  header ul {
    padding: 0px;
    border: 0px;
    float: none;
  }

  header li {
    display: inline;
  }

  header li a#order {
    background-color: #009933;
    border-radius: 4px;
    color: white;
  }

  header li a {
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    transition: 0.1s;
    padding: 10px;
    border-radius: 2px;
  }

  header li a:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  }

  article.fullwidth i {
    font-size: 100px;
    display: block;
  }
}
